In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt

diabetes_data = pd.read_csv('diabetic_data.csv')

#Write code to demonstrate the following Pandas functions:

In [8]:
#Question 1: Melt
pd.melt(diabetes_data, id_vars = ['patient_nbr'], value_vars = ['race'], value_name= "Race")

        patient_nbr variable             Race
0           8222157     race        Caucasian
1          55629189     race        Caucasian
2          86047875     race  AfricanAmerican
3          82442376     race        Caucasian
4          42519267     race        Caucasian
...             ...      ...              ...
101761    100162476     race  AfricanAmerican
101762     74694222     race  AfricanAmerican
101763     41088789     race        Caucasian
101764     31693671     race        Caucasian
101765    175429310     race        Caucasian

[101766 rows x 3 columns]

In [17]:
#Question 2: Pivot
diabetes_data.pivot(index = 'encounter_id', columns= 'race')

             patient_nbr                                                    \
race                   ? AfricanAmerican Asian    Caucasian Hispanic Other
encounter_id
12522                NaN             NaN   NaN   48330783.0      NaN   NaN
15738                NaN             NaN   NaN   63555939.0      NaN   NaN
16680                NaN             NaN   NaN   42519267.0      NaN   NaN
28236                NaN      89869032.0   NaN          NaN      NaN   NaN
35754                NaN             NaN   NaN   82637451.0      NaN   NaN
...                  ...             ...   ...          ...      ...   ...
443847548            NaN     100162476.0   NaN          NaN      NaN   NaN
443847782            NaN      74694222.0   NaN          NaN      NaN   NaN
443854148            NaN             NaN   NaN   41088789.0      NaN   NaN
443857166            NaN             NaN   NaN   31693671.0      NaN   NaN
443867222            NaN             NaN   NaN  175429310.0      NaN   NaN

             gender                                  ... diabetesMed  \
race              ? AfricanAmerican Asian Caucasian  ...       Asian
encounter_id                                         ...
12522           NaN             NaN   NaN    Female  ...         NaN
15738           NaN             NaN   NaN    Female  ...         NaN
16680           NaN             NaN   NaN      Male  ...         NaN
28236           NaN          Female   NaN       NaN  ...         NaN
35754           NaN             NaN   NaN      Male  ...         NaN
...             ...             ...   ...       ...  ...         ...
443847548       NaN            Male   NaN       NaN  ...         NaN
443847782       NaN          Female   NaN       NaN  ...         NaN
443854148       NaN             NaN   NaN      Male  ...         NaN
443857166       NaN             NaN   NaN    Female  ...         NaN
443867222       NaN             NaN   NaN      Male  ...         NaN

                                      readmitted                        \
race         Caucasian Hispanic Other          ? AfricanAmerican Asian
encounter_id
12522              Yes      NaN   NaN        NaN             NaN   NaN
15738              Yes      NaN   NaN        NaN             NaN   NaN
16680              Yes      NaN   NaN        NaN             NaN   NaN
28236              NaN      NaN   NaN        NaN             >30   NaN
35754              Yes      NaN   NaN        NaN             NaN   NaN
...                ...      ...   ...        ...             ...   ...
443847548          NaN      NaN   NaN        NaN             >30   NaN
443847782          NaN      NaN   NaN        NaN              NO   NaN
443854148          Yes      NaN   NaN        NaN             NaN   NaN
443857166          Yes      NaN   NaN        NaN             NaN   NaN
443867222           No      NaN   NaN        NaN             NaN   NaN


race         Caucasian Hispanic Other
encounter_id
12522               NO      NaN   NaN
15738               NO      NaN   NaN
16680               NO      NaN   NaN
28236              NaN      NaN   NaN
35754              >30      NaN   NaN
...                ...      ...   ...
443847548          NaN      NaN   NaN
443847782          NaN      NaN   NaN
443854148           NO      NaN   NaN
443857166           NO      NaN   NaN
443867222           NO      NaN   NaN

[101766 rows x 288 columns]

In [19]:
#Question 3: Aggregation
diabetes_data.aggregate(['sum', 'min', 'max'])

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
sum,16811910668468,5528987557122,CaucasianCaucasianAfricanAmericanCaucasianCauc...,FemaleFemaleFemaleMaleMaleMaleMaleMaleFemaleFe...,[0-10)[10-20)[20-30)[30-40)[40-50)[50-60)[60-7...,??????????????????????????????????????????????...,205975,378126,585606,447362,...,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,NoUpNoUpSteadySteadySteadyNoSteadySteadySteady...,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,NoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNo...,NoChNoChChNoChNoChChNoChChNoNoChChNoNoChChChNo...,NoYesYesYesYesYesYesYesYesYesYesYesYesYesYesYe...,NO>30NONONO>30NO>30NONO>30<30<30NO>30NO<30NO>3...
min,12522,135,?,Female,[0-10),>200,1,1,1,1,...,No,Down,Down,No,No,No,No,Ch,No,<30
max,443867222,189502619,Other,Unknown/Invalid,[90-100),[75-100),8,28,25,14,...,No,Up,Up,Steady,Steady,Steady,Steady,No,Yes,NO

In [20]:
#Question 4: Iteration
columns = list(diabetes_data)

for i in columns:
    print(diabetes_data[i][6])

55842
84259809
Caucasian
Male
[60-70)
?
3
1
2
4
?
?
70
1
21
0
0
0
414
411
V45
7
None
None
Steady
No
No
No
Steady
No
No
No
No
No
No
No
No
No
No
No
No
Steady
No
No
No
No
No
Ch
Yes
NO

In [26]:
#Question 5: Groupby
Diabetic_Combined_Races = diabetes_data.groupby('race').mean(numeric_only = True)
Diabetic_Combined_Races.head()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
race,,,,,,,,,,,,,
?,1.728853e+08,4.409962e+07,1.882094,2.611967,5.031676,4.289485,44.104707,1.302684,15.813462,0.194457,0.044435,0.305763,6.695557
AfricanAmerican,1.451321e+08,4.334391e+07,1.717595,3.803540,5.590786,4.507860,44.085060,1.234669,15.368922,0.239927,0.261010,0.701770,7.108381
Asian,2.041567e+08,7.402927e+07,2.170047,2.784711,5.549142,3.995320,41.212168,1.344774,13.291732,0.165367,0.093604,0.482059,7.049922
Caucasian,1.688394e+08,5.661856e+07,2.093970,3.750733,5.808907,4.385721,42.832941,1.369466,16.285733,0.412410,0.185679,0.634240,7.544790
Hispanic,1.748444e+08,6.154605e+07,2.323515,3.330879,6.144821,4.059892,42.793324,1.116838,14.030437,0.324497,0.228277,0.611193,6.924399